@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --primary: #ff495c;

  --secondary: #9dff57;

  --tertiary: #3dffd7;

  --black: #1c1919;
  --black85: #393434;
  --black75: #493e3f;
  --black50: #718786;
  --black25: #aec7c6;
  --white: #ffffff;
  --white10: #f0fcfc;
  --white15: #e8fafa;
  --white20: #dff8f8;
  --white25: #d7f6f6;
  --backgroundBlack: #19211e;
}

#SectionNavigation div {
  perspective: 1000px;
}

#SectionNavigation div a {
  transition: all 0.5s ease-in-out;
  transform: translateZ(100px) rotateY(-30deg);
  transform-style: preserve-3d;
}

#SectionNavigation div a:hover {
  transform: translateZ(200px) translateX(-20px) rotateY(-10deg);
}

.shadowblend {
  box-shadow: 0 0 5px 10px var(--black85);
  border: 10px solid;
  border-image: linear-gradient(
      45deg,
      var(--primary),
      var(--secondary),
      var(--tertiary)
    )
    1;
}

.rainbowtext {
  background: linear-gradient(
    45deg,
    var(--primary),
    var(--secondary),
    var(--tertiary) /* var(--accent) */
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: gradient-rotate 5s ease infinite alternate;
}

@keyframes gradient-rotate {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 0% 75%;
  }

  100% {
    background-position: 100% 100%;
  }
}

.backgroundblend::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(253, 253, 253, 0.5);
  /* Change the color and opacity as needed */
}

.tonsbergBG {
  background-image: url("/Tonsberg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* input, textarea {
  background-color: var(--black);
  color: var(--tertiary);
} */

.accordiontext {
  text-shadow: 0px 0px 2px var(--black25);
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--white10);
}

.transparent {
  color: transparent;
}

.greenplanet {
  background-image: url("https://cdn.midjourney.com/52a4027a-565a-4cfb-ad6a-5b17a39b8f7a/0_1.png"),
    url("https://cdn.midjourney.com/642caa24-583f-4c3f-af8d-81d4d807f683/0_2.png");
  background-size: auto;
  background-repeat: no-repeat;
}

.clearText {
  text-shadow: #312b35 1px 1px 1px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Figtree", sans-serif;
  font-weight: 800;
}

/* .SalmaPro {
  font-family: SalmaPro;
} */

p,
li,
ul {
  font-family: "Figtree", sans-serif;
}

#__next {
  /* background-color: var(--backgroundBlack); */
  text-rendering: optimizeLegibility;
}

/* }
#__next {
  @apply bg-JWC-backgroundBlack;
  text-rendering: optimizeLegibility;
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

}

a {
  color: inherit;
  text-decoration: none;
}

.scroll-into-view {
  animation: appearing 2s ease forwards;
  /* You can customize the animation properties (duration, timing function, etc.) */
}

@keyframes appearing {
  from {
    opacity: 0;
    /* scale: 0; */
  }
  to {
    /* scale: 1; */
    opacity: 1;
  }
}