@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@font-face {
    font-family: SalmaProNarrow;
    src: url('/fonts/SalmaproMediumnarrow-VG5v6.otf');
}
@font-face {
    font-family: SalmaPro;
    src: url('/fonts/SalmaproMedium-0Wooo.otf');
}
@font-face {
    font-family: RcRocket;
    src: url('/fonts/RcRocketRegular-0WVW9.otf');
}


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* --primary: #a2cbcc;
  --secondary: #f78f6a;
  --tertiary: #387184;
  --black: #202929;
  --black75: #585f5f;
  --black50: #909494;
  --black25: #c7c9c9;
  --black15: #dedfdf;
  --JWCwhite: #fdfdfd;
  --JWCwhite10: #f6fafa;
  --JWCwhite15: #f1f7f8;
  --JWCwhite20: #ecf5f5;
  --JWCwhite25: #e7f2f2; */

  /* --primary: #FA9A85;
  --secondary: #FAF29D;
  --tertiary: #9978FA;
  --accent: #6BFAC6;
  --black: #171515;
  --black85: #3a3838;
  --black75: #515050;
  --black50: #8c8b8b;
  --black25: #c5c4c4;
  --white: #fefcfb;
  --white10: #fff5f3;
  --white15: #fef0ed;
  --white20: #feebe7;
  --white25: #fde5e0;
  --backgroundBlack: #19211E; */


          --primary: #61dedb;

          --secondary: #de78c6;

          --tertiary: #dec54b;

          --black: #131515;
          --black85: #323838;
          --black75: #475353;
          --black50: #718786;
          --black25: #aec7c6;
          --white: #fafefe;
          --white10: #f0fcfc;
          --white15: #e8fafa;
          --white20: #dff8f8;
          --white25: #d7f6f6;
          --backgroundBlack: #19211E;


}


.shadowblend {
  box-shadow: 0 0 5px 10px var(--black85);
  border: 10px solid;
  border-image: linear-gradient(45deg, var(--primary), var(--secondary),  var(--tertiary)) 1;
}

.backgroundblend {
  background: linear-gradient(45deg, var(--primary), var(--secondary),  var(--tertiary) 
  /* var(--accent) */
  );
}

.cleanbackgroundblend {
  background: linear-gradient(45deg, var(--primary), var(--secondary),  var(--tertiary) 
  /* var(--accent) */
  );
}

.rainbowtext {
  background: linear-gradient(45deg, var(--primary), var(--secondary), var(--tertiary) 
  /* var(--accent) */
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
    background-size: 400% 400%;
  animation: gradient-rotate 5s ease infinite alternate;
}

@keyframes gradient-rotate {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 75%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.backgroundblend::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(253, 253, 253, 0.5); /* Change the color and opacity as needed */
}

.tonsbergBG {
  background-image: url('/Tonsberg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

input, textarea {
  background-color: var(--black);
  color: var(--tertiary);
}

.accordiontext {
  text-shadow: 0px 0px 2px var(--black25);
}

  h1,h2,h3,h4,h5,p {
  color: var(--white10);
}

.transparent {
  color: transparent;

}

.greenplanet {  
  background-image: url('https://cdn.midjourney.com/52a4027a-565a-4cfb-ad6a-5b17a39b8f7a/0_1.png'), url('https://cdn.midjourney.com/642caa24-583f-4c3f-af8d-81d4d807f683/0_2.png');
  background-size: auto;
  background-repeat: no-repeat;
}

.clearText {
  text-shadow: #312b35 1px 1px 1px;
}

h1,h2,h3,h4,h5 {
  font-family: SalmaPro;
  font-weight: 900;
}

.SalmaPro {
  font-family: SalmaPro;
}

  p, li, ul {
font-family: Roboto;
}




#__next {
  background-color: var(--backgroundBlack);
  text-rendering: optimizeLegibility;
  }

/* }
#__next {
  @apply bg-JWC-backgroundBlack;
  text-rendering: optimizeLegibility;
} */



html,
body {
   
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}


